<!-- <div class="row p-3">
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
              Active Cases
            </div>
            <div class="value">
              {{totalActive}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
              Confirmed Cases
            </div>
            <div class="value">
              {{totalConfirm}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
              Death Cases
            </div>
            <div class="value">
              {{totalDeaths}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
              Recovered Cases
            </div>
            <div class="value">
              {{totalRecovered}}
            </div>
          </div>
    </div>
</div> -->

<div class="d-flex flex-row align-content-stretch flex-wrap bd-highlight mb-3">
  <div class="card p-3 m-3 bd-highlight bg-dark flex-fill">
      <div class="ui statistic">
          <div class="label text-white">
            Active Cases
          </div>
          <div class="value text-white">
            {{totalActive}}
          </div>
        </div>
  </div>
  <div class="card p-3 m-3 bd-highlight bg-warning flex-fill">
      <div class="ui statistic">
          <div class="label text-white">
            Confirmed Cases
          </div>
          <div class="value text-white">
            {{totalConfirm}}
          </div>
        </div>
  </div>
  <div class="card p-3 m-3 bd-highlight bg-danger flex-fill">
      <div class="ui statistic">
          <div class="label text-white">
            Death Cases
          </div>
          <div class="value text-white">
            {{totalDeaths}}
          </div>
        </div>
  </div>
  <div class="card p-3 m-3 bd-highlight bg-success flex-fill">
      <div class="ui statistic">
          <div class="label text-white">
            Recovered Cases
          </div>
          <div class="value text-white">
            {{totalRecovered}}
          </div>
        </div>
  </div>
</div>
